meet.txt
env/
session02/tarea
session01/assitencia.png
*/asistencia.png
tmp/
*/tarea
.*
**/__pycache__/
session0?/*.zip
session0?/*.pdf
session0?/*.txt
session0?/PetImages

session06/wine/archive.zip
session06/wine/wine*.csv
session06/wine/wine*.names
session06/gerardo.txt
**/checkpoints/
**/logs/
